<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryData.Properties.Settings.LabaConnectionString"
            connectionString="Data Source=acer\SQLEXPRESS;Initial Catalog=Laba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>